*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.header{
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.header-links{
   display: flex;
   
}

.header-links>a{
    margin-right: 130px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: transform 400ms;
}

.header-links>a:hover{
    transform: scale(1.5);
}

.home{
    display: grid;
    grid-template-columns: 50% 50%;
}

.home-image>img{
    width: 100%;
}

.home-context{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.home-context span{
    color: violet;
    font-style: italic;
}

.home-context>p{
    text-align: justify;
}

.home-context>a{
    background-color: blue;
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 4px ridge black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.About{
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-image>img{
    width: 100%;
}

.about-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

.about-context>h1,.about-context>h3{
    color:blue;
}

.about-context>p{
    text-align: justify;
}

html{
    scroll-behavior: smooth;
}